/* MARK: General CSS */

body {
	background: url("./background.jpg");
	background-color: black;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#app {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: 10px;
	color: #1376ad;
	font-size: 44px;
	text-align: center;
}

a, button{
	cursor: pointer;
}

input{
	background: #1376ad;
	color: white;
}


/* MARK: Login and Registration CSS */

#login-page, #register-page{
  width: 30%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

#login-form, #register-form{
	border: 2px solid white;
	border-radius: 5px;
	padding: 20px;
}

#login-page span, #register-page span{
	text-align: center;
}

#login-page *, #register-page *{
	margin-top: 10px;
}

#username-input, #password-input{
	background: #1376ad;
	color: white;
}

#form-buttons-bar{
	display: flex;
	justify-content: flex-end;
}


/* MARK: Document Portal CSS */

#editor-container, #document-portal-container {
	flex: 1;
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 80%;
	position: relative;
}

#documents-container{
	border: 2px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 20px 5px;
}

#documents-container ul{
	padding-left: 40px;
}

#documents-container li{
	font-size: 20px;
}

/* MARK: TextEditor CSS */

#editor-toolbar {
	flex: 5;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.toolbar-button {
	width: 34px;
	height: 28px;
	margin: 3px;
	border: 0;
	background: #1376ad;
	color: white;
	font-size: 14px;
	text-align: center;
	vertical-align: center;
	border-radius: 4px;
}

.highlighted{
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 255, 255), 0 0 5px rgb(0, 205, 255);
}

#font-size-select {
	width: 88px;
}

#font-color-select {
	width: 76px;
}

#bold-button{
	font-weight: 900;
}
#italic-button{
	font-style: italic;
}
#underline-button{
	text-decoration: underline;
}
#code-button{
	font-family: 'Times New Roman', Times, serif;
}

.DraftEditor-root {
	flex: 1;
	background:#1376ad;
	color: white;
	border-radius: 6px;
	margin: 10px 0px;
	height: 200px;
	max-height: 200px;
	margin: 10px 0px;
	overflow: auto;
	cursor: text;
	padding: 6px 10px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

#editor-bottom-bar{
	flex: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.bottom-button{
	background: #1376ad;
	color: white;
	font-size: 13px;
	min-width: 80px;
	height: 40px;
	border: 1px solid black;
	border-radius: 6px;
	white-space: nowrap;
	margin-left: 1%;
}

.block-align-right{
	text-align: right;
}

.block-align-center{
	text-align: center;
}

.block-align-left{
	text-align: left;
}

#document-id{
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 10px 5px 10px 0;
	color: white;
}

#document-id-label{
	background: #022e46;
	padding: 12px 5px;
	border-radius: 6px 0 0 6px;
}

#document-id-text{
	padding: 10px 5px 10px 10px;
	border-radius: 6px 0 0 6px;
}