/* MARK: General CSS */

@font-face {
    font-family: newFont1;
	src: url('http://localhost:3000/fonts/coolvetica.ttf');
}

@font-face {
    font-family: newFont2;
	src: url('http://localhost:3000/fonts/airplanes.ttf');
}

input, button, textarea, Button :focus {
	outline: none;
}

body {
	background: url("./background.jpg");
	background-color: black;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#app {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: newFont2;
	color: #1376ad;
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	margin: 40px auto;
}

h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border-bottom: none;
}

a, a:hover, button{
	cursor: pointer;
	text-decoration: none;
}

input{
	background: #1376ad;
	color: white;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
}

.blue{
	background: #1376ad;
}

/* MARK: Login and Registration CSS */

#login-page, #register-page{
  width: 30%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

#login-form, #register-form{
	border: 2px solid white;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

#login-form #form-buttons-bar, #register-form #form-buttons-bar{
	justify-content: center;
}

#login-page span, #register-page span{
	text-align: center;
}

#login-page form *, #register-page form *{
	margin-top: 10px;
}

#username-input, #password-input{
	background: #1376ad;
	color: white;
}

#form-buttons-bar{
	display: flex;
	justify-content: flex-end;
}


/* MARK: Document Portal CSS */

#editor-container, #document-portal-container {
	flex: 1;
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 80%;
}

#documents-container{
	border: 3px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 20px;
	height: 70vh;
	overflow-y: scroll;
}

#empty-message{
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.document-li{
	font-size: 20px;
	letter-spacing: 1px;
	height: 60px;
	opacity: 0.9;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	margin-bottom: 1%;
	margin-top: 1%;
	padding: 5px 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.document-li:hover{
	box-shadow: 0 0 25px #003752;
	cursor: pointer;
	opacity: 1.0;
}

.document-icon{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.document-delete{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.document-delete:hover{
	color: white;
}

.document-icon img{
	height: 32px;
	width: 32px;
}

.document-li span{
	flex: 16;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

/* MARK: TextEditor CSS */
#document-title{
	display: flex;
	margin-bottom: 10px;
}

#title-label{
	flex: 1;
	color: #1376ad;
	letter-spacing: 2px;
	font-family: newFont1;
	font-size: 30px;
	text-align: center;
}

#title-input{
	flex: 8;
	border: 0;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 20px;
	color: white;
}

#editor-toolbar {
	flex: 5;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.toolbar-button {
	width: 34px;
	height: 28px;
	margin: 3px;
	border: 0;
	background: #1376ad;
	color: white;
	font-size: 14px;
	text-align: center;
	vertical-align: center;
	border-radius: 4px;
}

.highlighted{
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 255, 255), 0 0 5px rgb(0, 205, 255);
}

#font-size-select {
	width: 88px;
}

#font-color-select {
	width: 76px;
}

#bold-button{
	font-weight: 900;
}
#italic-button{
	font-style: italic;
}
#underline-button{
	text-decoration: underline;
}
#code-button{
	font-family: 'Times New Roman', Times, serif;
}

.DraftEditor-root {
	flex: 1;
	background:#1376ad;
	color: white;
	border-radius: 6px;
	margin: 10px 0px;
	min-height: 300px;
	max-height: 50vh;
	margin: 10px 0px;
	overflow: auto;
	cursor: text;
	padding: 6px 10px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

#editor-bottom-bar{
	flex: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#save-message{
	padding: 0 10px;
	flex: 1;
	text-align: center;
	text-shadow: 2px 2px #1376ad;
	color: white;
	letter-spacing: 1px;
	font-weight: 900;
	font-size: 18px;
}

.bottom-button{
	background: #1376ad;
	min-width: 140px;
	color: white;
	font-size: 14px;
	height: 40px;
	border: 0;
	border-radius: 6px;
	white-space: nowrap;
	margin-left: 10px;
}

.block-align-right{
	text-align: right;
}

.block-align-center{
	text-align: center;
}

.block-align-left{
	text-align: left;
}

#document-id-container{
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#document-id{
	display: flex;
	border: 2px solid #bbb;
	border-radius: 6px;
	height: 28px;
	color: white;
	align-items: center;
	white-space: nowrap; 
}

#document-id-label{
	background: #022e46;
	padding: 2px 5px;
	border-radius: 6px 0 0 6px;
}

#document-id-text{
	padding: 4px 5px 4px 10px;
	border-radius: 6px 0 0 6px;
}

/* MARK: Modal CSS */

.modal-dialog {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	display: flex;
	justify-content: center;
}


.modal{
	background: rgba(0, 0, 0, 0.7);
}

.modal-content{
	border: 0;
	border-radius: 0;
}

/* MARK: Input Modal CSS */

#input-modal .modal-dialog{
	top: 40%;
}

#input-modal .modal-content{
	background: transparent;
}

#input-modal .modal-footer{
	background: transparent;
	margin-top: 100px;
}

#input-modal-body{
	padding: 0;
	height: 80px;
}

#input-modal-input{
	border: 0;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	font-size: 40px;
	font-family: monospace;
}

#input-modal-footer{
	margin-top: 14px;
	display: flex;
	justify-content: flex-end;
}

.modal-button{
	width: 20%;
	margin-left: 3%;
}

/* MARK: Error Modal CSS */

#error-modal{
	color: white;
}

#error-modal .modal-dialog{
	top: 20%;
}

#error-modal-title{
	font-size: 14px;
	padding: 6px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.521);
}

#error-modal .modal-body{
	padding: 5px;
}

#error-modal .modal-content{
	background: #fd2323;
	padding: 4px 10px;
	width: 70%;
}

/* MARK: Logout button CSS */

#logout{
	position: absolute;
	top: 5px;
	right: 5px;
	background: #000;
	width: 120px;
	color: white;
	font-size: 14px;
	height: 30px;
	border: 0;
	opacity: 0.2;
}

#logout:hover{
	background: red;
	box-shadow: 0 0 35px red, 0 0 35px  red;
	opacity: 1.0;
}